.sub_4{
    width: 100%;
    padding-top:10%;
    padding-bottom:10%;
    background: url("../images/sub_1_bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
@media(max-width: 767px) {
    .sub_4{
        background-size: cover;
        padding-top:30%;
        padding-bottom:30%;
    }
}
.sub_4 h1{
    font-family: "Noto Serif"!important;
    color: #fff;
    font-size: 36px!important;
    font-weight: 700!important;
   
}

.flex_container{
    padding:  30px;
}
.contact_title{
    background:rgb(230, 230, 230)
}
.contact_title h3,.contact_title h4{
    margin:0
}
.cont1 ,.cont2{
    display:flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.contect_br{
    display:none
}
@media (max-width:767px){
    .contect_br{
        display:block
    }
    .contact_title{
        padding-top:20px;
        padding-bottom:30px
    }
    .cont1 ,.cont2{        
        height: 50px;   
        text-align: center;    
    }
    .info_cont h3 {
        width:93%!important;
    }
}
.content_title ,.contact_info{
    border-bottom: 2px solid #000    
}

.contact_info input{
    width: 98%;
}
.contact_info .row{
    padding-top: 20px;
}
.info_cont{    
   
}
.info_cont h3{
    width: 97%;
    border-bottom:2px solid #000;
    margin:15px;
    padding-bottom: 10px;
    text-align: center;
}
.info_cont>.col-sm-6{
   
    padding:10px;
}
.info_cont form{
    width:96%;
}
.padding_info{
    padding-left: 20px;
}
.padding_info > div{
    margin-top:50px;
    padding-left: 10px;
}
.padding_info>h4{
    font-size:24px
}
.padding_info>div>h5{
    font-size:21px!important;
}
.padding_info>div>p{
    font-size:18px!important;
    padding-bottom: 29px;
}
.border_bottom{
    border-bottom:2px solid #000;
    
 width:98%;
 margin:0 auto;
 margin-bottom: 20px;
}
.contact_button{
    margin-bottom: 15px;
    margin-right: 30px;
    background:#4ecdc4;
    color: #fff
}
.info_h3_m{
    display:none
}
.info_h3_pc{
    display:block
}
.contact_button:hover{
   
    background:#3e9e98;
    color: #fff
}
@media (max-width: 767px){
    .form{
        width:90%!important;
       margin:0 auto!important;
    }
    .info_h3_m{
        display:block
    }
    .info_h3_pc{
        display:none
    }
    .padding_info{
        margin-top: 30px;
    }
    .contact_title{
        margin-top: 10px;
    }
}